<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                                 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security">

    <beans:bean id="shaPasswordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"> 
        <beans:constructor-arg value="512" />
        <beans:property name="encodeHashAsBase64" value="true"/>
    </beans:bean>
   
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="daoAuthenticationProvider" />
    </authentication-manager>
   
    <beans:bean id="daoAuthenticationProvider"
        class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="usuarioDetailsServiceImpl" />
        <beans:property name="passwordEncoder" ref="shaPasswordEncoder"/>
        <beans:property name="hideUserNotFoundExceptions" value="false"/>
		<beans:property name="saltSource" ref="passwordSalt"/>
    </beans:bean>

	<beans:bean id="passwordSalt" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value="username" />
	</beans:bean>

    <beans:bean id="loggerListener" class="org.springframework.security.access.event.LoggerListener" />

</beans:beans>